{{ include('./dateandtitle.html', { "headerTitle" : "SPOTTED" }) }}
<table class="row">
    <tr>
        <td class="center" align="center">
            <center>

                <table class="container">
                    <tr>
                        <!-- Left column -->
                        <td class="wrapper">

                            <table class="six columns">
                                <tr>
                                    <td>
                                        <img width="100" height="300" src="images/580x300.png">
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>

                        <!-- Right column -->
                        <td class="wrapper last">

                            <table class="six columns">
                                <tr>
                                    <td>
                                        <h3>The Chill Method</h3>
                                        <p class="italic">
                                            We have earned hipster creds with our feature in The Chill Method working in the mainstream soft drinks industry where we developed a daily ritual of concocting our own infused waters.
                                        </p>
                                        <p>
                                            We have earned hipster creds with our feature in The Chill Method. working in the mainstream soft drinks industry where we developed a daily ritual of concocting our own infused waters. We wanted to create drinks in the same way as our infusions which could not yet be found on the market. <br>
                                            <br>
                                            And so Dash was born...

                                        </p><!-- Content goes here -->
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
