<table class="row">
    <tr>
        <td class="center" align="center">
            <center>

                <table class="container">
                    <tr>
                        <!-- Left column -->
                        <td class="wrapper">

                            <table class="six columns">
                                <tr>
                                    <td>
                                        <img width="100" height="100" src="images/580x300.png">
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>

                        <!-- Right column -->
                        <td class="wrapper last">

                            <table class="six columns">
                                <tr>
                                    <td>
                                        <img width="100" height="100" src="images/580x300.png"><!-- Content goes here -->
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

                <table class="container">
                    <tr>
                        <td class="wrapper last">

                            <table class="twelve columns">
                                <tr>
                                    <td>
                                        <h6>LOOK OUR FOR A DASH OF RASPBERRY AND ELDERFLOWER THIS COMING SPRING</h6>
                                        <p class="italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.</p>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table class="container">
                    <tr>
                        <!-- Left column -->
                        <td class="wrapper">

                            <table class="six columns">
                                <tr>
                                    <td>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim</p>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim</p>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>

                        <!-- Right column -->
                        <td class="wrapper last">

                            <table class="six columns">
                                <tr>
                                    <td>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim</p>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim</p>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
