
<table class="row">
    <tr>
        <td class="center" align="center">
            <center>
                {{ include('./dateandtitle.html', { "headerTitle" : "THE LATEST CROP" }) }}
                <table class="container">
                    <tr>
                        <td class="wrapper">

                            <table class="twelve columns">
                                <tr>
                                    <td>
                                        <img width="580" height="300" src="images/580x300.png">
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <!-- Left column -->
                                    <td class="wrapper">

                                        <table class="six columns">
                                            <tr>
                                                <td>
                                                    <h3>The Growers</h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>

                                    </td>

                                    <!-- Right column -->
                                    <td class="wrapper last">

                                        <table class="six columns">
                                            <tr>
                                                <td>
                                                    <img width="280" height="300" src="images/580x300.png">
                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>



                </table>

            </center>
        </td>
    </tr>
</table>
