
<table class="row">

    <tr>
        <td class="center" align="center">
            <center>
                {{ include('./dateandtitle.html', { "headerTitle" : "SPOTTED" }) }}

                <table class="container">
                    <tr>
                        <!-- Left column -->
                        <td class="wrapper">

                            <table class="four columns">
                                <tr>
                                    <td>
                                        <img width="100" height="300" src="images/580x300.png">
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>DASH TO THE PUB</h4>
                                        <p class="italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor sed incididunt ut labore.</p>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>

                        <!-- Middle column -->
                        <td class="wrapper">

                            <table class="four columns">
                                <tr>
                                    <td>
                                        <img width="100" height="300" src="images/580x300.png">
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                                <tr>
                                    <td>

                                        <p class="italic">duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        <p class="italic">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab deserunt mollit anim id est laborum.</p>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>

                        <!-- Right column -->
                        <td class="wrapper last">

                            <table class="four columns">
                                <tr>
                                    <td>
                                        <img width="100" height="300" src="images/580x300.png">
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="italic">Lorem ipsum dolor sit amet, con sectetur adipiscing elit, sed do eiusmod tempor incididunt ut la bore et dolore magna aliqua.</p>
                                        <p class="italic">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>


<!-- <tr>
    <td>
        <table>
            <tr>
                <td class="wrapper">

                    <table class="four columns">
                        <tr>
                            <td>
                                <img width="100" height="300" src="images/580x300.png">
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>

                </td>
                <td class="wrapper">

                    <table class="eight columns">
                        <tr>
                            <td>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                <br><br>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        </td>
    </tr> -->
