<table class="row">
    <tr>
        <td class="center" align="center">
            <center>
                {{ include('./dateandtitle.html', { "headerTitle" : "A DASH TO ITALY" }) }}
                <table class="container">
                    <tr>
                        <td class="wrapper last">
                            <table class="twelve columns">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td><img width="100" height="100" src="images/580x300.png"></td>
                                                            <td><img width="100" height="100" src="images/580x300.png"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><img width="100" height="100" src="images/580x300.png"></td>
                                                            <td><img width="100" height="100" src="images/580x300.png"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td><img width="100" height="100" src="images/580x300.png"></td>
                                                            <td><img width="100" height="100" src="images/580x300.png"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><img width="100" height="100" src="images/580x300.png"></td>
                                                            <td><img width="100" height="100" src="images/580x300.png"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="header-three center">
                                        WE ARE LOOKING FOR A NEW BRAND AMBASSADOR
                                    </td>
                                </tr>

                                <tr>
                                    <td class="italic">
                                        Are you super friendly, based in London and keen to join a team challenging the soft drinks industry? We’re looking for proactive individuals to represent the Dash mission to naturally hydrate the nation in a fun sustainable way.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="row">
                                            <tr>
                                                <td class="center" align="center">
                                                    <center>

                                                        <table class="container">
                                                            <tr>
                                                                <!-- Left column -->
                                                                <td class="wrapper">

                                                                    <table class="six columns">
                                                                        <tr>
                                                                            <td>
                                                                                You’ll be spreading our mission & introducing our drinks to new consumers. Who is Dash and what do you stand for? With current fridge space full of sugar and artificially filled drinks Dash is shaking up the norm.
                                                                                <br><br>
                                                                                Dash is British sparkling spring water infused with wonky fruit & veg (the ones which are rejected by the supermarkets because they’re misshapen) for a natural
                                                                            </td>
                                                                            <td class="expander"></td>
                                                                        </tr>
                                                                    </table>

                                                                </td>

                                                                <!-- Right column -->
                                                                <td class="wrapper last">

                                                                    <table class="six columns">
                                                                        <tr>
                                                                            <td>
                                                                                dash of flavour with no sugar, calories or sweetener. Our mission is to naturally hydrate the nation and reduce food waste in a fun, sustainable way.
                                                                                <br><br>
                                                                                Sounds good, what next? We’d love you to get in touch, drop an email to hello@dash-water.com with your CV and we’ll get right back to you. In the mean time, check out our journey so far on Instagram, Twitter, Facebook @dashdrink
                                                                            </td>
                                                                            <td class="expander"></td>
                                                                        </tr>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </center>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="row">
                                            <tr>
                                                <td class="center" align="center">
                                                    <center>

                                                        <table class="container">
                                                            <tr>
                                                                <!-- Left column -->
                                                                <td class="wrapper">

                                                                    <table class="six columns">
                                                                        <tr>
                                                                            <td>
                                                                                A dash of detail
                                                                            </td>
                                                                            <!-- <td class="expander"></td> -->
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span>- THE ROLE:</span> Dash Brand Ambassador</td>
                                                                        </tr>
                                                                        <tr><td><span>- WHERE:</span> Dash Brand Ambassador</td></tr>
                                                                        <tr><td><span>- MONEY:</span> Dash Brand Ambassador</td></tr>
                                                                        <tr><td><span>- TIME:</span> Dash Brand Ambassador</td></tr>
                                                                        <tr><td><span>- WHAT EXACTLY IS A DASH BRAND AMBASSADOR?</span></td></tr>
                                                                        <tr><td>Ambassador’s are part time team members to join events in London and represent in-store samplings including Selfridges, Planet Organic and Daylesford.</td></tr>
                                                                    </table>

                                                                </td>

                                                                <!-- Right column -->
                                                                <td class="wrapper last">

                                                                    <table class="six columns">
                                                                        <tr>
                                                                            <td><img width="240" height="100" src="images/580x300.png"></td>
                                                                            <td class="expander"></td>
                                                                        </tr>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </center>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
