<table class="row">
    <tr>
        <td class="center" align="center">
            <center>
                <table class="container">
                    <tr>
                        <td class="wrapper last">

                            <table class="twelve columns">
                                <tr>
                                    <td>
                                        <h4 class="center">PERKING UP WATER NATURALLY</h4><!-- Content goes here -->
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
